<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="StudentDBCS"
            connectionString="server = NLTI151\SQLEXPRESS; database = studentsRecord;integrated Security = true"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="StudentData.CSV" value="D:\Assessment\Unprocessed\StudentMarks.csv" />
		<add key="Processed.CSV" value="D:\Assessment\Processed\StudentMarks.csv" />
		<add key="Error.CSV" value="D:\Assessment\Error\StudentMarks.csv" />
		
	</appSettings>
</configuration>