<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentDBCS" connectionString="server = DESKTOP-LJRU6OT\SQLEXPRESS; database = studentsRecord;integrated Security = true"
            providerName="System.Data.SqlClient" />
        <add name="StudentDatabase.Properties.Settings.StudentsRecordConnectionString"
            connectionString="Data Source=DESKTOP-39SGDTH\SQLEXPRESS;Initial Catalog=StudentsRecord;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StudentDatabase.Properties.Settings.studentsRecordConnectionString1"
            connectionString="Data Source=NLTI151\SQLEXPRESS;Initial Catalog=studentsRecord;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StudentDatabase.Properties.Settings.StudentsRecordConnectionString2"
            connectionString="Data Source=DESKTOP-LJRU6OT\SQLEXPRESS;Initial Catalog=StudentsRecord;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="StudentData.CSV" value="C:\Users\Admin\Desktop\Ram\Assessment\Unprocessed\StudentMarks.csv" />
		<add key="Processed.CSV" value="C:\Users\Admin\Desktop\Ram\Assessment\Processed\" />
		<add key="Error.CSV" value="C:\Users\Admin\Desktop\Ram\Assessment\Error\" />
		
	</appSettings>
</configuration>