<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentDatabase.Properties.Settings.StudentsRecordConnectionString"
            connectionString="Data Source=DESKTOP-39SGDTH\SQLEXPRESS;Initial Catalog=StudentsRecord;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>